nav.navbar {
	padding: 10px 0;
	background-color: #f5f5f5;
}

.nav > li > a {
	padding-left: 10px;
	padding-right: 10px;
}

.content {
	margin: 80px 0;
}

.chat {
	position: relative;
}

.chat .chat-close,
.stream .stream-close {
	position: absolute;
	top: 5px;
	right: 24px;
	color: #ff0000;
	z-index: 99;
	cursor: pointer;
}

#panelDiv > div {
	border-radius: 5px;
	padding: 5px;
    resize: both;
    overflow: auto;
}

#panelDiv .head {
	border-bottom: 1px solid lightgray;
}

.cookiebox {
	font-family: Consolas,monaco,monospace; 
	background-color: black;
	bottom: 60px;
	color: green;
	padding: 10px;
	position: fixed;
	right: 0;
	max-width: 360px;
	display: none;
}
.cookiebox .close {
	font-family: Consolas,monaco,monospace; 
	color: green;
}

.codemirrorBox {
	padding-left: 0;
	border: 1px solid lightgray;
}

footer.footer {
	padding-top: 20px;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 101%;
}


.fa-twitch {
	color: #6441a5;
}

.fa-twitter {
	color: rgba(0, 132, 180, 0.8);
}

.fa-steam {
	color: #171a21; 
}

.fa-youtube {
	color: #c4302b; 
}

.fa-facebook {
	color: #3b5998;
}

.fa-wordpress {
	color: #000;
}