<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{$modalTitle}}</h4>
			</div>
			<div class="modal-body">
				{{$modalText}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{Translate::get("NO")}}</button>
				<button type="button" onclick="successModal()" class="btn btn-danger">{{Translate::get("YES")}}</button>
			</div>
		</div>
	</div>
</div>