{{View::render("header_admin")}}

{{* BUGGY *}}

{{foreach from=View::adminPanel() item=$aPanel}}
	{{php}}
		$_tmpPanelData = array(
			"name" 		=> $_smarty_tpl->tpl_vars['aPanel']->value["name"],
			"msg" 		=> $_smarty_tpl->tpl_vars['aPanel']->value["msg"],
			"title" 	=> $_smarty_tpl->tpl_vars['aPanel']->value["name"],
			"body" 		=> $_smarty_tpl->tpl_vars['aPanel']->value["msg"],
			"color" 	=> $_smarty_tpl->tpl_vars['aPanel']->value["color"],
			"action" 	=> "<a href='".$_smarty_tpl->tpl_vars["aPanel"]->value["link"]."'>".Translate::get("GO_TO")."</a>"
		);
		View::currentPanel($_tmpPanelData);
	{{/php}}
	<div class="col-md-4">
		{{View::render("panel", false)}}
	</div>
{{/foreach}}




{{View::render("footer")}}